Package: xps
Version: 2.1
Section: main
Priority: optional
Architecture: i386
Depends: gnuplot
Installed-Size: 58.1
Maintainer: Nicola Ferralis <feranick@hotmail.com>
Description: XPS File Conversion from Omicron EIS and CASAxps (VAMAS files) and Presenter (SPECTRA files) to ASCII files. It performs background subtraction and curve fitting. 
